header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.2rem 1rem;
  max-width: 1600px;
  /* background-color: red; */
  margin: 0 auto;
}

.logo {
  font-size: 2.3rem;
  cursor: pointer;
  color: white;
}

.searchContainer {
  background-color: rgb(27, 27, 27);
  border: 1px solid rgb(47, 47, 47);
  overflow: hidden;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  display: flex;
  align-items: center;
  transition: 0.2s ease;
  /* padding: 0rem 0rem 0rem 0.5rem; */
}

.searchContainer input {
  flex: 1;
  /* padding: 0rem 0rem 0rem 0.5rem; */
  padding: 0.5rem;
  color: white;
}

.searchContainer span {
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 0.3rem 0.7rem;
  /* padding: 0.5rem 1rem; */
  font-size: 0.8rem;
  margin: 0.3rem;
  border-radius: 3px;
  color: white;
  font-weight: 200;
}

.searchContainer button {
  background-color: rgba(255, 255, 255, 0.08);
  color: white;
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
  cursor: pointer;
  font-weight: 600;
}

.searchContainer button:hover {
  /* background-color: #763ec6; */
  /* border: 1px solid #763ec6; */
  color: #212121;
}

.searchContainer input:focus{
  /* background-color: red; */
}

.focusField{
  background-color: #212121;
}